$apple-blossom: #ff5555;
$alto: #f8f8f2c4;
$bouquet: #bd93f9;
$chelsea-cucumber: #50fa7b;
$cod-grey: #282a36;
$conifer: #f1fa8c;
$dove-grey: #44475a;
$gallery: #f8f8f2;
$grey: #44475a;
$gulf-stream: #6272a4;
$hippie-blue: #8be9fd;
$potters-clay: #6273a4e3;
$rajah: #ffbd76;
$raw-sienna: #ffb86c;
$silver-chalice: #f8f8f2;
